Is topology definition needed

There were multiple comments about the topology definition and Olga's statement at IETF120 that we ere not able to ind terminology definition in IETF:

Adrian: 
        This surprised me, but even mapping this to: there is no definition of "network topology" she appears to be right.
        The best I could find was in RFC 7399, but that is still woolly.
        Looking back and back and back, the concept of a topology of a network seems to predate the RFC series. 
        Wikipedia seems to be fairly accurate, but not completely concise.
        So, my conclusion, adding a definition will be helpful.
        But, it might need to be scoped to the work for fear that you are redefining a term widely used in many previous RFCs.

Pedro:
        A redefinition can be a bit controversial. If there is any concept or nuance not included in the definition of "network topology" 
        as derived from the basic (dictionary?) definitions of "network" and "topology", it should be denoted in the name and not by 
        redefining the term. Otherwise, it is fair to "recall" other sources but no more than that.

Dan:
        Section 2 of RFC7399 is what I though digital map definition was - augmented by nodes relationships, LSDB basically.  
        What should be added for digital map definition ?

Adrian:
          We wrote 7399 partly because there were some ambiguities in the TE world. Funnily (?) we failed to address the 
          issue of a  definition for "topology" in 9522.
          Places I might have hoped to see topology defined include 5212, 5440, 5693, 7926, and 9552. But, sadly not.
          I suppose my concern is that 7399 defines "topology" only by an indirection through the definition of "TED".
          Anything we do in NMOP should certainly be compatible with that text, and ideally not perturbate the many RFCs 
          that use the  term "network topology". But a short, precise definition 
          (perhaps together with a pointer to 7399) might be helpful.